/* Global styles */
:root {
  --light: #FFFFFF;
  --dark: #000000;
  --overlay: #F2F2F2;
  --primary: #495E57;
  --secondary: #F4CE14;
  --white: #FFFFFF;
  --gradient: linear-gradient(149deg, #3B514A 0%, #586863 100%);
}

.backcolor {
  background: var(--gradient);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: 'Markazi Text', serif;
  line-height: 0.8;
  font-size: 64px;
  font-weight: 500;
}

h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

h5 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.lead h4, h4.lead {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

p.highlight {
  font-weight: 500;
}

a {
  color: initial;
  text-decoration: initial;
}

.round {
  border-radius: 16px;
}

button, button:active[type="button"] {
  padding: 8px 16px;
  font-weight: 500;
  opacity: 1;
  color: var(--dark);
  background-color: var(--secondary);
  transition: opacity 200ms;
}

button:hover {
  opacity: 0.8;
  color: var(--dark);
  background-color: var(--secondary);
}

/* Header */
header img {
  width: 200px;
}

/* Specials */

.price-special {
  font-weight: 600;
  color: var(--primary);
}

.card {
  background-color: var(--overlay);
}

/* Landing */

.headerImg {
  margin-bottom: -5rem;
}